<!-- 
 /*

 * Author: Megyeri Márk Máté
 * Copyright: 2022, Megyeri Márk Máté
 * Group: Szoft II/N
 * Date: 2022.11.28
 * Github: https://github.com/megyerimark/
 * Licenc: GNU GPL
 */
   -->
    <h2 class="text-center">Github</h2>
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="https://github.com/megyerimark"
                target="_blank">
                    megyerimark</a>
            </li>
        </ul>
    
    </div>

  
    