<!-- 
 /*

 * Author: Megyeri Márk Máté
 * Copyright: 2022, Megyeri Márk Máté
 * Group: Szoft II/N
 * Date: 2022.11.28
 * Github: https://github.com/megyerimark/
 * Licenc: GNU GPL
 */
   -->
    <h2 class="text-center">Github</h2>
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="https://github.com/megyerimark/telteg"
                target="_blank">
                    A megoldott feladat(Github)</a>
            </li>
            <li class="list-group-item">
                <a href="https://szit.hu/doku.php?id=oktatas:programozas:feladatok:altalanos"
                target="_blank">
                    Feladat 0354 (szit.hu)</a>
            </li>
        </ul>
    
    </div>

  
    